*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    background: #EFEDDF;
    font-family: 'Roboto', sans-serif;
}
.main {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}
#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#list h3 {
    color: #666666;
    border-bottom: 1px solid #C8C7BB;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
    position: relative;
}
#list li {
    width: 49%;
    height: 75px;
    min-height: 10px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #666;
    border-top: 9px solid #39D1B4;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
    position: relative;
    z-index: 9;
    display: inline-block;
}
#list li:hover {
    border-top: 9px solid #F0553B;
    z-index: 99;
}
#list li:hover > a {
    max-height: 400px;
}
#list li > a {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    justify-content: space-between;
    font-weight: lighter;
    color: #666666;
    padding: 20px;
    max-height: 65px;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.3s ease;
}
#list li > a:hover {
    z-index: 99;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.24);
}
#list li > a:hover,
#list li > a:focus {
    text-decoration: none;
}
.task-headline {
    color: #666666;
    border-bottom: 1px solid #C8C7BB;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.center {
    align-items: center;
}
.description {
    border-top: 1px solid #C8C7BB;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C8C7BB;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: left;
}
.left .form-control {
    width: auto;
    zoom: 1.3;
}
fieldset.form-group {
    padding-top: 6px;
}
.quantity {
    max-height: 60px;
    padding: 0 .75rem;
}
input::-webkit-input-placeholder {
    color: #CAD3D9 !important;
}